
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Sidebar styling */

.wrapper {
    display: flex;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgb(50,50,50);
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid rgb(255,255,255);
    }
    
        #sidebar ul p {
            color: #fff;
            padding: 9px;
            font-weight: bolder;
        }
    
        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

            #sidebar ul li a:hover {
                color: #7386D5;
                background: #fff;
            }

            ul ul a {
                font-size: 0.9em !important;
                padding-left: 30px !important;
                background: #6d7fcc;
            }

/* For smaller screens */
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
    }



/* Overlay styling */
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Content styling */
    #content .btn_gray {
        background-color: rgb(100,100,100);
        color: rgb(255,255,255);
        display: inline-block;
        vertical-align: top;
        width: 15%;
    }

    .admin_form {
        margin: 5px 0px 0px 42%;
        font-size: 15px;
    }

        .admin_login_input {
            margin: 0px 3% 0px 1%;
            padding: 0px 0px 0px 5px;
            width: 30%;
            border-radius: 5px;
            border: 1px solid rgb(100,100,100);
        }

        .admin_submit {
            width: 15%;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid rgb(100,100,100);
            background: rgb(100,100,100);
            color: rgb(255,255,255);
        }

    .page_title {
        text-align: center;
        width: 70%;
        margin: 0% 15% 2% 15%;
        font-size: 80px;
        vertical-align: top;
        display: inline-block;
        color: rgb(100,100,100);
        text-shadow: 5px 5px rgb(200,200,200);
    }

    #content .page_intro {
        text-align: center;
        width: 70%;
        margin: 2% 15% 2% 15%;
        font-size: 20px;
        vertical-align: top;
        display: inline-block;
        color: rgb(100,100,100);
    }

    .dash_sect {
        border-top: solid 1px rgb(230,230,230);
        margin: 20px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
    }

        .label_class {
            text-align: right;
            width: 30%;
            margin: 0% 5% 0% 10%;
            font-size: 15px;
            color: rgb(100,100,100);
            display: inline-block;
            vertical-align: top;
        }

        .input_class {
            text-align: left;
            font-size: 15px;
            display: inline-block;
            vertical-align: top;
            margin: 0% 25% 0% 0%;
            width: 30%;
        }

        .submit_class {
            display: block;
            margin: 0% 0% 0% 35%;
            font-size: 15px;
            width: 30%;
        }
    
    .graph_container {
        margin: 2% 10% 0% 10%;
        width: 80%;
    }

        .graph_container ul{
            font-size: 10px;
            font-style: italic;
        }