
<canvas id="bar-chart" width="800" height="450"></canvas>
<ul>
    Data sources are listed below by hospital.
    {% for hospital in hospital_array %}
        <li> {{hospital.name}}:  {{hospital.source}}</li>
    {% endfor %}
</ul>
<ul>
    {% if any_notes_flag == 1 %}
        Data considerations:
        {% for hospital in hospital_array %}
            {% if hospital.comment != "" %}
                <li> {{hospital.comment}} </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

{{ cases_array|json_script:"cases_array" }}
{{ abbreviated_array|json_script:"abbreviated_array" }}
{{ label_array|json_script:"label_array" }}
{{ color_array|json_script:"color_array" }}
{{ data_array|json_script:"data_array" }}

<script type="text/javascript">

    var cases_array = JSON.parse(document.getElementById('cases_array').textContent);
    var abbreviated_array = JSON.parse(document.getElementById('abbreviated_array').textContent);
    var label_array = JSON.parse(document.getElementById('label_array').textContent);
    var color_array = JSON.parse(document.getElementById('color_array').textContent);
    var data_array = JSON.parse(document.getElementById('data_array').textContent);
    
    new Chart(document.getElementById("bar-chart"), {

        type: 'bar',

        data: {
            labels: abbreviated_array,
            datasets: [{
                label: "Average Billed Charges",
                backgroundColor: color_array,
                data: data_array,
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "DRG {{current_drg.ms_drg|safe}}",
                fontSize: 20,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function(value, index, values) {
                            if(parseInt(value) >= 1000000){
                                return '$' + Math.floor(value/100000)/10 + " M";
                            }
                            else if(parseInt(value) >= 1000){
                                return '$' + Math.floor(value/1000) + " K";
                            }
                            else {
                            return '$' + value;
                            }
                        }
                    }
                }]
            },
            tooltips: {
                callbacks: {
                    title: function(tooltipItem) {
                        return label_array[tooltipItem[0]['index']]
                    },
                    label: function(tooltipItem) {
                        return "Average Billed Charge: $" + Math.round(tooltipItem.yLabel).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    },
                    footer: function(tooltipItem){
                        if(cases_array[tooltipItem[0]['index']] > 0){
                            return "Based on " + cases_array[tooltipItem[0]['index']] + " cases.";
                        }
                        return "Case data unavailable. See note below.";
                    }
                }
            }
        }
    });
</script>