<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Single DRG Summary</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        {% load static %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'hosp_comparison_app/css/stylesheet.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
        
        <script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

        <script src="{% static 'hosp_comparison_app/js/single_drg.js' %}" defer></script>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Generates a map showing costs for a selected DRG across the state.">
        <meta name="keywords" content="Hospitals, Billed Charges, Price Transparency, CMS">
        <meta name="author" content="Jacob Erb">
    </head>
    <body>
        <div class="wrapper">

            <!-- Navigation -->
            <div id="topnav">
                <ul >
                    <li>
                        <a href="{% url 'comparison_link' %}">Compare</a>
                    </li>
                    <li>
                        <a href="{% url 'spec_hosp_link' %}">Examine</a>
                    </li>
                    <li class="mobile_hidden">
                        <a href="{% url 'spec_drg_link' %}">Survey</a>
                    </li>
                    <li>
                        <a href="{% url 'about_link' %}">About</a>
                    </li>
                </ul>

                <form action="{% url 'login_route' %}" method="POST" class="admin_form mobile_hidden">
                    {% csrf_token %}
                    <input id="admin_email" name="admin_email_input" class="admin_login_input" type="text" placeholder="Admin Login"/><!--
                    --><input id="admin_password" name="admin_password_input" class="admin_login_input" type="password" placeholder="Password"/><!--
                    --><input type="submit" class="admin_submit" value="Login">
                </form>
            </div>
        
            <!-- Page Content -->
            <div id="content">
                <div class="page_title">SURVEY</div>

                <div class="page_intro">
                    Select a DRG to get an overview of the billed costs throughout the state. Hospitals will only appear on the map if they have posted data for the charge.
                </div>

                <form class="chart_form" action="{% url 'spec_drg_route' %}" method="POST" id="sd_gen">
                    {% csrf_token %}

                    <input id="window_width" name= "window_width" type="hidden" value=500>
                    <select id="drg_input" name="drg_input" class="input_class">
                        <option value="">Select a Diagnosis Grouping</option>
                        {% for drg in drg_list %}
                            <option value={{drg.id}}>{{drg.ms_drg}} - {{drg.drg_description}}</option>
                        {% endfor %}
                    </select>
                    
                </form>

                <div class="graph_container">
                </div>
            </div>
        </div>
    </body>
</html>
