<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Single DRG Summary</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hosp_comparison_app/css/stylesheet.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        
        <script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="{% static 'hosp_comparison_app/js/single_drg.js' %}" defer></script>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Generates a map showing costs for a selected DRG across the state.">
        <meta name="keywords" content="Hospitals, Billed Charges, Price Transparency, CMS">
        <meta name="author" content="Jacob Erb">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar" class="active">
                <div id="dismiss">
                    <i class="fas fa-arrow-left"></i>
                </div>
                
                <div class="sidebar-header">
                    <h3>Navigation</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>ANALYSIS TYPES</p>
                    <li class="active">
                        <a href="{% url 'comparison_link' %}">Hospital Comparison</a>
                    </li>
                    <li>
                        <a href="{% url 'spec_hosp_link' %}">Single Hospital Summary</a>
                    </li>
                    <li>
                        <a href="{% url 'spec_drg_link' %}">Single DRG Summary</a>
                    </li>
                    <li>
                        <a href="{% url 'about_link' %}">About the Data</a>
                    </li>
                </ul>
            </nav>
        
            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn_gray">
                            <i class="fas fa-align-left"></i>
                            <span>Open Sidebar</span>
                        </button>
                        <form action="{% url 'login_route' %}" method="POST" class="admin_form">
                            {% csrf_token %}
                            <input id="admin_email" name="admin_email_input" class="admin_login_input" type="text" placeholder="Admin Login"/><!--
                            --><input id="admin_password" name="admin_password_input" class="admin_login_input" type="password" placeholder="Password"/><!--
                            --><input type="submit" class="admin_submit" value="Login">
                        </form>
                    </div>
                </nav>
                <div class="page_title">Single DRG Analysis</div>
                <div class="page_intro">
                    Select a DRG to get an overview of the billed costs throughout the state.
                </div>
                <form action="{% url 'spec_drg_route' %}" method="POST" id="sd_gen">
                    {% csrf_token %}
                    <div class="label_class"><label for="drg_input">Diagnosis Grouping: </label></div><!--
                    --><select id="drg_input" name="drg_input" class="input_class">
                        <option value="">Select a Diagnosis Grouping</option>
                        {% for drg in drg_list %}
                            <option value={{drg.id}}>{{drg.ms_drg}} - {{drg.drg_description}}</option>
                        {% endfor %}
                    </select>
                </form>
                <div class="graph_container">
                </div>
            </div>
            <!-- Overlay -->
            <div class="overlay"></div>
        </div>
    </body>
</html>
